@{
    ViewBag.Title = "SQL Query Tools | IN Query Helper";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>List to IN Query</h1>
        </hgroup>
        <p>
            This handy tool trims and surrounds each line of input with single quotes and places a comma between each line.  This is perfect for converting a list of ids (or any other text) to the contents of an IN query.
        </p>
    </div>
</section>
}

<section class="features">
    <section class="feature">
        <h3>Source:</h3>
        <textarea class="codeBox" data-bind="value: SourceText, valueUpdate: 'afterkeydown'"></textarea>
    </section>
    <section class="feature">
        <h3>Result:</h3>
        <textarea class="codeBox" data-bind="value: ProcessedText"></textarea>
        <div style="float: right"><span class="clippy tooltip" data-tooltip="Copy to clipboard"></span></div>
    </section>
</section>